@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

body {
  background-color: #f9f2ed;
  color: #ffffff;
}

* {
  font-family: 'Jost', sans-serif;
  user-select: none;
}

.App {
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 800px;
  margin: 100px auto;
  padding: 50px;
  padding-bottom: 67px;
  background: linear-gradient(260.89deg, #9C8BF0 -6.09%, #D6A2F3 56.66%, #F6D9A0 120.3%);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.header-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.header-rate {
  margin-right: 15px;
  font-size: 24px;
  font-weight: 600;
  span {
    font-weight: 400;
  }
}

.blocks-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.block {
  width: 49%;
  .input-wrapper {
    position: relative;
  }

  input {
    padding: 13px 34px;
    padding-right: 100px;
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1.3px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    color: #878787;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.currencies {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  li {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background-color: #16b67f;
      color: #fff;
    }

    &:last-of-type {
      display: inline-flex;
      align-items: center;
      flex: 0 0 50px;
      border-right: 0;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.sort {
  color: #C0C0C0;
  &__label {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    cursor: pointer;
    svg {
      padding-left: 5px;
    }
  }
  &__popup {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 12px 16px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    li {
      padding-bottom: 8px;
      cursor: pointer;
      transition: color 0.2s ease-in;
      &:last-child {
        padding-bottom: 0;
      }
      &:hover {
        color: #878787;
      }
    }
  }
}

@media (max-width: 950px) {
  .app-wrapper {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .blocks-wrapper {
    flex-direction: column;
  }

  .block {
    margin-bottom: 30px;
    width: 100%;
  }

  .sort {
    &__popup {
      z-index: 10;
    }
  }
}

@media (max-width: 440px) {
  .app-wrapper {
    padding: 20px;
  }
}